<Wix xmlns="http://wix.microsoft.com/wix/2006/wi">

  <Package Name="QuickClip v1.0" 
           Manufacturer="YourName" 
           Version="1.0.0.0" 
           UpgradeCode="PASTE-YOUR-UPGRADE-GUID-HERE">
    
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UI>
      <UIRef Id="WixUI_InstallDir" />
    </UI>

    <Feature Id="MainApplication" Title="Main Application" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ApplicationShortcut" />
    </Feature>
  </Package>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="QuickClip" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="QuickClip"/>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="MainExecutable">
        <File Id="QuickClip.exe" Source="$(var.QuickClip.TargetPath)" KeyPath="yes" />
      </Component>
      </ComponentGroup>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="PASTE-YOUR-SHORTCUT-GUID-HERE"> 
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="QuickClip"
                  Description="QuickClip Clipboard Tool"
                  Target="[#QuickClip.exe]"
                  WorkingDirectory="INSTALLFOLDER"/>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\YourName\QuickClip" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
  </Fragment>

</Wix>