<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QuickClip.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="QuickClip2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <QuickClip.Properties.Settings>
            <setting name="ImageSavePath" serializeAs="String">
                <value />
            </setting>
            <setting name="TextSavePath" serializeAs="String">
                <value />
            </setting>
            <setting name="Hotkey" serializeAs="String">
                <value>Ctrl + Shift + S</value>
            </setting>
            <setting name="FirstLaunch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="HotkeyGrammar" serializeAs="String">
                <value />
            </setting>
            <setting name="LocationGrammar" serializeAs="String">
                <value />
            </setting>
            <setting name="HotkeySummarize" serializeAs="String">
                <value />
            </setting>
            <setting name="LocationSummarize" serializeAs="String">
                <value />
            </setting>
            <setting name="HotkeyCustomPrompt" serializeAs="String">
                <value />
            </setting>
            <setting name="LocationCustomPrompt" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomPrompt" serializeAs="String">
                <value />
            </setting>
            <setting name="CopyToClipboardGrammar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CopyToClipboardSummarize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CopyToClipboardCustomprompt" serializeAs="String">
                <value>False</value>
            </setting>
        </QuickClip.Properties.Settings>
        <QuickClip2.Properties.Settings>
            <setting name="ImageSavePath" serializeAs="String">
                <value />
            </setting>
            <setting name="TextSavePath" serializeAs="String">
                <value />
            </setting>
            <setting name="Hotkey" serializeAs="String">
                <value>Ctrl + Shift + S</value>
            </setting>
            <setting name="FirstLaunch" serializeAs="String">
                <value>True</value>
            </setting>
        </QuickClip2.Properties.Settings>
    </userSettings>
</configuration>